<script>

    var modaluser = document.getElementById('user');

    $(document).ready(function () {
        document.getElementById('cmod').addEventListener('click', function () {
            getSpan();
        });
    });

</script>

<div id="user" class="modalUser">
    <div class="modalUser-content">
        <span id="cmod" class="modal-close" ></span>

        <div class="titleName">{{ lbl_title }}</div>

        <form action="{{ updateproductroute }}" method="post" enctype="multipart/form-data" style="width: 100%" onsubmit="closeForm();" >

            <div class="table">

                <p>
                <div class="tableRow">
                    <div class="tableCell txtLabel">{{ lbl_name }}</div>
                    <div class="tableCell txtBlack">{{ product.name }}</div>
                </div>
                <div class="tableRow">
                    <div class="tableCell txtLabel">{{ lbl_keycode }}</div>
                    <div class="tableCell">{{ product.keycode }}</div>
                </div>
                </p>

                <p>
                <div class="tableRow">
                    <div class="tableCell txtLabel">{{ lbl_description }}</div>
                    <div class="tableCell">{{ product.productdescription|nl2br }}</div>
                </div>
                <div class="tableRow">
                    <div class="tableCell txtLabel">{{ lbl_manifest }}</div>
                    <div class="tableCell">{{ product.productmanifest|nl2br }}</div>
                </div>
                </p>

            </div>
            {% if product.message is not empty %}
                <div class="txtRed">{{ product.message }}</div>
            {% endif %}

            <div class="table">
                <div class="tableRow">
                    <div class="tableHead txtLabel center"><label>{{ th_col1 }}</label></div>
                    <div class="tableHead txtLabel center"><label>{{ th_col2 }}</label></div>
                    <div class="tableHead txtLabel center"><label>{{ th_col3 }}</label></div>
                    <div class="tableHead txtLabel center"><label>{{ th_col4 }}</label></div>
                </div>

                {% if product.idcurrency is not empty %}
                    <div class="tableRow">                    
                        <div class="tableCell">{{ product.idcurrency }}</div>
                        <div class="tableCell">{{ product.currencyname }}</div>
                        <div class="tableCell">{{ product.saleprice * product.rateconv }}</div>
                        <div class="tableCell center">
                            <input class="formInputText right" name="orderquantity" type="number" placeholder="0" min="1" step="1" autofocus value="{{ product.orderquantity }}"  style="width: 100px;">
                        </div>
                    </div>
                {% endif %}
                {% if product.idcurrency is empty %}
                    <label class="txtDark">{{ lbl_missing_currency }}</label>
                {% endif %}
            </div>

            <br>

            <p id="submitpnl" style="text-align: center;">
                {% if updateproductroute is not empty %}
                    <input type="submit" id="submit" name="save" value="{{ lbl_save }}" >
                    {% if product.idcartdetail != 0 %}
                        <input class="linkBtnMenu taskselect" type="submit" id="submitdelete" name="delete" value="{{ lbl_submit }}" >
                    {% endif %}
                {% endif %}
            </p>
        </form>
    </div>

</div>
