<script>

    $(document).ready(function () {
    {% for item in orderdetails %}
        {% if item.fulfills is not empty %}
            {% for fulfill in item.fulfills %}
                    document.getElementById("delete-{{ fulfill.idorderfulfill }}").addEventListener("click", function () {
                        toggleDeleteFulfill("{{ fulfill.idorderfulfill }}");
                    });
            {% endfor %}
        {% endif %}
    {% endfor %}

        });

        function toggleDeleteFulfill(idorderfulfill) {
            if ($("#fd-" + idorderfulfill).val() === "1") {
                $("#fd-" + idorderfulfill).val("0");
                $("#qtyfulfill-" + idorderfulfill).show();
            } else {
                $("#fd-" + idorderfulfill).val("1");
                $("#qtyfulfill-" + idorderfulfill).hide();
            }
        }

</script>

<div class="titleName">{{ lbl_title }}</div>

<div class="left">
    <div class=" txtLabel">({{ order.recordid }}) <b>{{ order.description }}</b></div>
    <div class="txtLabel">{{ order.createdon|date("j M Y g:ia") }}</div>
</div>

<form action="{{ editfullfilroute }}" method="post"  style="width: 100%" onsubmit="closeForm();" >
    <div class="table">
        <div class="tableRow">
            <div class="tableHead txtLabel"></div>
            <div class="tableHead txtLabel"></div>
            <div class="tableHead txtLabel center"><label>{{ th_col1 }}</label></div>
            <div class="tableHead txtLabel center"><label>{{ th_col2 }}</label></div>
            <!--            <div class="tableHead txtLabel center"><label>{* th_col3 }}</label></div> -->
            <div class="tableHead txtLabel center"><label>{{ th_col4 }}</label></div>
            <div class="tableHead txtLabel"></div>
        </div>
        {% for item in orderdetails %}
            <div class="tableRow" >
                <div class="tableCell txtLabel txtBlue">{{ item.idorderdetail }}</div>
                <div class="tableCell center" style="width: 70px;"><img src="{{ item.img }}" ></div>
                <div class="tableCell marginsmall">                
                    <div class="txtBlack">{{ item.productname }}</div>
                    <div class="txtDark">{{ item.productcode }}</div>                
                    <div class="txtLabel">{{ product.productdescription|nl2br }}</div>
                    {% if item.message is not empty %}
                        <div class="txtRed">{{ item.message }}</div>
                    {% endif %}
                </div>
                <div class="tableCell marginsmall center"><label class="txtBlack">{{ item.orderquantity }}</label></div>
                <div class="tableCell marginsmall right">
                    {% if (item.orderquantity - item.qtyfulfilled) != 0 %}
                        <input id="fi-{{ item.idorderdetail }}" name="fi-{{ item.idorderdetail }}" type="number" placeholder="0" min="1" max="{{ item.orderquantity - item.qtyfulfilled }}" step="1" style="width: 70px;" class="center">
                    {% endif %}
                </div>
                <div class="tableCell center" style="width: 3%;"></div>
            </div>

            {% if item.fulfills is not empty %}
                {% for fulfill in item.fulfills %}
                    <div class="tableRow pnlBackMint" id="qtyfulfill-{{ fulfill.idorderfulfill }}">
                        <div class="tableCell"></div>
                        <div class="tableCell"></div>
                        <div class="tableCell txtLabel">{{ fulfill.username }}</div>
                        <div class="tableCell txtLabel center">{{ fulfill.qtyfulfill }}</div>
                        <div class="tableCell txtLabel center">{{ fulfill.createdon|date("j M Y g:ia") }}</div>
                        <div class="tableCell center" style="width: 3%;">
                            <span id="delete-{{ fulfill.idorderfulfill }}" class="imgBtn imgHide" title="{{ lbl_deletefulfill }}" ></span>
                        </div>
                    </div>
                    <input type="hidden" id="fd-{{ fulfill.idorderfulfill }}" name="fd-{{ fulfill.idorderfulfill }}" value="0">
                {% endfor %}
                    <div class="marginsmall"></div>
            {% endif %}
        {% endfor %}
    </div>
    <hr class="separatordark">

    <input type="checkbox" id="fullrequired" name="fullrequired" {% if order.fullrequired %}checked{% endif %}>
    <label for="fullrequired">{{ lbl_requiredfull }}</label>    

    {% if editfullfilroute is not empty %}
        <p id="submitpnl" class="center">
            <input type="submit" id="submit" name="update" value="{{ lbl_submit }}" >
        </p>
    {% endif %}
</form>
