<script>

    $(document).ready(function () {
//        document.getElementById("snone").addEventListener("click", function () {
//            selectOrderStatus("", "{* sortdirection }}");
//        });
//        document.getElementById("spcode").addEventListener("click", function () {
//            selectOrderStatus("PRDCODE", "{* sortdirection }}");
//        });
//        document.getElementById("sprd").addEventListener("click", function () {
//            selectOrderStatus("PRD", "{* sortdirection }}");
//        });
//        document.getElementById("sqty").addEventListener("click", function () {
//            selectOrderStatus("QTY", "{* sortdirection }}");
//        });
//        document.getElementById("sqtyf").addEventListener("click", function () {
//            selectOrderStatus("QTYF", "{* sortdirection }}");
//        });
//        document.getElementById("sprice").addEventListener("click", function () {
//            selectOrderStatus("PRICE", "{* sortdirection }}");
//        });
//        document.getElementById("sdate").addEventListener("click", function () {
//            selectOrderStatus("DATE", "{* sortdirection }}");
//        });

    {% if updateorderdetailroute is not empty %}
            document.getElementById("cfulord").addEventListener("click", function () {
                hideOrderProductList();
            });
    {% endif %}
    {% for order in orders %}
            document.getElementById("order{{ order.idorder }}").addEventListener("click", function () {
                openorderdetailform("{{ order.idorder }}");
            });
            document.getElementById("update{{ order.idorder }}").addEventListener("click", function () {
                openorderdetailform("{{ order.idorder }}");
            });
        {% if orderhistoryroute is not empty %}
                document.getElementById("gethistory{{ order.idorder }}").addEventListener("click", function () {
                    historyform("{{ order.idorder }}");
                });
        {% endif %}
        {% if newactionroute is not empty %}
                document.getElementById("newaction{{ order.idorder }}").addEventListener("click", function () {
                    attachNewAction("{{ order.idorder }}");
                });
        {% endif %}
        {% if updateordergateroute is not empty %}
            {% for statusrow in Gates %}
                {% if statusrow.idgate != order.idgate and order.allowcommit %}
                        document.getElementById("cartgate{{ order.idorder }}-{{ statusrow.idgate }}").addEventListener("click", function () {
                    {% if not order.isfulfilled and not order.fullrequired %}
                                confirmChangeGate("{{ order.idorder }}", "{{ statusrow.idgate }}", "{{ statusrow.name }}", "{{ lbl_warningopen }}");
                    {% else %}
                                confirmChangeGate("{{ order.idorder }}", "{{ statusrow.idgate }}", "{{ statusrow.name }}", "");
                    {% endif %}
                            });
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if order.actions is not empty %}
            {% for action in order.actions %}
                    document.getElementById("task{{ action.idtask }}").addEventListener("click", function () {
                        viewAttachedAction("{{ action.idtask }}");
                    });
            {% endfor %}
        {% endif %}        
        {% if order.hasactionhistory and historyactionroute is not empty  %}
                document.getElementById("actionhistory{{ order.idorder }}").addEventListener("click", function () {
                    viewHistoryAction("{{ order.idorder }}");
                });
        {% endif %}        
    {% endfor %}
    {% for statusrow in Gates %}
            document.getElementById("sos{{ statusrow.idgate }}").addEventListener("click", function () {
                selectGate("{{ statusrow.idgate }}");
            });
    {% endfor %}
    {% if updateordergateroute is not empty %}
            document.getElementById("cugate").addEventListener("click", function () {
                hideConfirmUpdate();
            });
            document.getElementById("cancel").addEventListener('click', function () {
                hideConfirmUpdate();
            });
    {% endif %}

        });

    {% if updateorderdetailroute is not empty %}
        function hideOrderProductList() {
            $("#fulfillorderdetail").hide();
        }

        async function openorderdetailform(idorder) {
            let apppath = '{{ updateorderdetailroute }}';
            let replacedpath = apppath.replace('[id]', idorder);

            let response = await fetch(replacedpath);
            $("#modalorderproductsform").html(await response.text());
            $("#fulfillorderdetail").show();
        }
    {% endif %}

    {% if updateordergateroute is not empty %}
        function hideConfirmUpdate() {
            $("#confirmtoupdategate").hide();
        }

        function closeorderform() {
            $("#submit").hide();
        }

        function confirmChangeGate(idorder, idgate, labelname, warning)
        {
            $("#idorderpost").val(idorder);
            $("#idgatepost").val(idgate);
            $("#warning").html(warning);
            $("#submit").val("{{ lbl_statusgate }}" + labelname);
            $("#confirmtoupdategate").show();
        }
    {% endif %}

    {% if orderhistoryroute is not empty %}
        async function historyform(idorder) {
            let apppath = "{{ orderhistoryroute }}";
            let replacedpath = apppath.replace('[idorder]', idorder);

            let response = await fetch(replacedpath);
            $("#vieworderhistory" + idorder).html(await response.text());
            $("#vieworderhistory" + idorder).show();
        }
    {% endif %}

    {% if newactionroute is not empty %}
        function attachNewAction(idorder) {
            let apppath = '{{ newactionroute.window }}';
            let replacedpath = apppath.replace('[idorder]', idorder);

            g3.Action(replacedpath);
        }
    {% endif %}

    {% if viewtaskroute is not empty %}
        function viewAttachedAction(idtask) {
            let apppath = '{{ viewtaskroute.window }}';
            let replacedpath = apppath.replace('[idtask]', idtask);

            g3.Action(replacedpath);
        }
    {% endif %}

    {% if historyactionroute is not empty  %}
        async function viewHistoryAction(idorder) {
            let apppath = '{{ historyactionroute }}';
            let replacedpath = apppath.replace('[idorder]', idorder);

            let response = await fetch(replacedpath);
            $("#viewactionhistory" + idorder).html(await response.text());
            $("#viewactionhistory" + idorder).show();
        }
    {% endif %}        

</script>

<style>
    #fulfillorderdetail .modalUser-content {
        width: 90%;
    }
</style>

<div class="pnlMenuHeader">
    {% for statusrow in Gates %}
        <span id="sos{{ statusrow.idgate }}" class="{% if lastviewgate == statusrow.idgate %}linkBtnGateSelected{% else %}linkBtnGate taskselect{% endif %}" >
            {% if lastviewgate == statusrow.idgate %}
                <span class="{{ statusrow.img }}" ></span>
            {% endif %}
            {{ statusrow.name }}
        </span>
    {% endfor %}
</div>

{% if orders is empty %}
    {{ lbl_notfound }}
{% endif %}

{% for order in orders %}
    <!-- GATES -->
    <span class="floatRight">
        <!-- MENU -->
        {% if updateordergateroute is not empty %}
            <span id="update{{ order.idorder }}" class="linkBtnMenu taskselect imgEdit" title="{{ lbl_update }}"></span>

            {% if order.allowcommit %}
                {% for statusrow in Gates %}
                    {% if statusrow.idgate != order.idgate %}
                        <span class="marginleft">
                            <span id="cartgate{{ order.idorder }}-{{ statusrow.idgate }}" class="linkBtnMenu taskselect {{ statusrow.img }}" title="{{ statusrow.name|capitalize }}" ></span>
                        </span>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endif %}

        <span id="gethistory{{ order.idorder }}" class="linkBtnMenu taskselect imgHistory" title="{{ lbl_viewhistory }}"></span>

        {% if order.hasactionhistory and historyactionroute is not empty  %}
            <span id="actionhistory{{ order.idorder }}" class="linkBtnSrv taskselect imgActions" title="{{ lbl_historyaction }}" ></span>
        {% endif %}        

        {% if newactionroute is not empty %}
            <span id="newaction{{ order.idorder}}" class="linkBtnSrv taskselect imgAdd" >  {{ newactionroute.title }}</span>
        {% endif %}        
    </span>

    <div class="pnlBackWhite">
        <span class="left">
            <div class=" txtLabel">({{ order.recordid }})  <b>{{ order.description }}</b></div>
            <div class="txtLabel">{{ order.createdon|date("j M Y g:ia") }}</div>
        </span>

        <!-- Attached actions -->
        {% if order.actions is not empty %}
            <div class="margin">
                {% for action in order.actions %}
                    <div id="task{{ action.idtask }}" class="taskselect taskBody marginsmall priority{{ action.idpriority }}" >
                        <div class="txtLabel floatRight">
                            <div class="">{{ action.createdon|date("j M Y g:ia") }}</div>
                        </div>
                        <div>{{ action.title }}</div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}        
        <!-- history actions -->
        <div id="viewactionhistory{{ order.idorder }}" hidden></div>

        <!-- order history -->
        <div id="vieworderhistory{{ order.idorder }}" hidden></div>

        <div class="table taskselect" id="order{{ order.idorder }}" >
            <div class="tableRow">
                <!--
                <div id="snone" class="tableHead txtLabel {* s_col1 }}" ><label>  {* th_col1 }}</label></div>
                <div id="spcode" class="tableHead txtLabel {* s_col2 }}" ><label>  {* th_col2 }}</label></div>
                <div id="sprd" class="tableHead txtLabel {* s_col3 }}" ><label>  {* th_col3 }}</label></div>
                <div id="sqty" class="tableHead txtLabel {* s_col4 }}" ><label>  {* th_col4 }}</label></div>
                <div id="sqtyf" class="tableHead txtLabel {* s_col5 }}" ><label>  {* th_col5 }}</label></div>
                <div id="sprice" class="tableHead txtLabel {* s_col6 }}" ><label>  {* th_col6 }}</label></div>
                <div class="tableHead txtLabel" ></div>
                <div class="tableHead txtLabel center" ><label>{* th_col7 }}</label></div>
                <div id="sdate" class="tableHead txtLabel {* s_col8 }}" ><label>{* th_col8 }}</label></div>
                -->
                <div class="tableHead txtLabel" ></div>
                <div class="tableHead txtLabel center" ><label>{{ th_col2 }}</label></div>
                <div class="tableHead txtLabel center" ><label>{{ th_col3 }}</label></div>
                <div class="tableHead txtLabel center" ><label>{{ th_col4 }}</label></div>
                <div class="tableHead txtLabel center" ><label>{{ th_col5 }}</label></div>
                <div class="tableHead txtLabel center" ><label>{{ th_col6 }}</label></div>
                <div class="tableHead txtLabel" ></div>
                <div class="tableHead txtLabel center" ><label>{{ th_col8 }}</label></div>
            </div>
            {% if order.items is not empty %}
                {% for item in order.items %}
                    {% set balanceclass = 'onProgress' %}
                    {% if item.qtyfulfilled is not null %}
                        {% if item.orderquantity == item.qtyfulfilled %}
                            {% set balanceclass = 'onFulfill' %}
                        {% endif %}
                    {% endif %}
                    <div class="tableRow" >
                        <div class="tableCell txtLabel"><label>{{ item.idorderdetail }}</label></div>
                        <div class="tableCell txtLabel"><label>{{ item.productcode }}</label></div>
                        <div class="tableCell"><label>{{ item.productname }}</label></div>
                        <div class="tableCell center {{ balanceclass }}"><label>{{ item.orderquantity }}</label></div>
                        <div class="tableCell center {{ balanceclass }}"><label>{{ item.qtyfulfilled }}</label></div>
                        <div class="tableCell center"><label>{{ item.saleprice * item.rateconv }}</label></div>
                        <div class="tableCell txtLabel center"><label>{{ item.idcurrencyto }}</label></div>
                        <div class="tableCell center"><label>{{ item.saleprice * item.rateconv * item.orderquantity }}</label></div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endfor %}

{% if updateordergateroute is not empty %}
    <div id="confirmtoupdategate" hidden class="modalUser">
        <div class="modalUser-content">
            <span id="cugate" class="modal-close" ></span>

            <form action="{{ updateordergateroute }}" method="post" onsubmit="closeorderform();">
                <div class="margin"><label class="linkPlain" id="cancel" >{{ lbl_cancel }}</label></div>
                <div class="margin"><input type="submit" id="submit" name="save" ></div>
                <input type="hidden" name="idorder" id="idorderpost">
                <input type="hidden" name="idgate" id="idgatepost">                
            </form>
            <div class="margin">
                <span id="warning" class="txtRed"></span>
            </div>
        </div>
    </div>
{% endif %}

{% if updateorderdetailroute is not empty %}
    <div id="fulfillorderdetail" hidden class="modalUser">
        <div class="modalUser-content">
            <span id="cfulord" class="modal-close" ></span>

            <div id="modalorderproductsform"></div>
        </div>
    </div>
{% endif %}

