<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

<script>

    var toggleuserview = false;
    var togglefileview = false;

    $(document).ready(function () {

        initDatepicker();

        let ele = document.getElementById("descriptiontext");
        adjustNoteTextHeight(ele);

    {% if aassignedusersroute is not empty %}
            document.getElementById("sauser").addEventListener("click", function () {
                setupAssignedUsers();
            });
    {% endif %}
            document.getElementById("safile").addEventListener("click", function () {
                setupAttachedFiles();
            });
        });

    {% if aassignedusersroute is not empty %}
        async function setupAssignedUsers() {
            $("#rendermembers").toggle();
            if (!toggleuserview) {
                let response = await fetch("{{ aassignedusersroute }}");
                $("#rendermembers").html(await response.text());

                toggleuserview = true;
            }
        }
    {% endif %}

    {% if fileattachroute is not empty %}
        async function setupAttachedFiles() {
            $("#renderfileform").toggle();
            if (!togglefileview) {
                let response = await fetch("{{ fileattachroute }}");
                $("#renderfileform").html(await response.text());

                togglefileview = true;
            }
        }
    {% endif %}

        function closenewtaskform() {
            $("#submit").hide();
        }

</script>

{% if aassignedusersroute is not empty %}
    <div id="sauser" class="linkBtnMenu taskselect imgUser" title="{{ lbl_titleuser }}" ></div>
{% endif %}
<div id="safile" class="linkBtnMenu taskselect imgAttach" title="{{ lbl_titlefiles }}" ></div>
<hr>

<form action="{{ updatenewactionroute }}" method="post"  enctype="multipart/form-data" style="width: 100%" onsubmit="closenewtaskform();" >
    <div class="pnlBackWhite" id="rendermembers" hidden ></div>
    <div class="pnlBackWhite" id="renderfileform" hidden ></div>

    <div style="width: 98%;">

        <p>
            {% if categories is not empty %}
                {% set vars = {'action': action, 'lbl_categories':lbl_categories, 'categories':categories} %}
                {% include inc_categories with vars %}
            {% endif %}
        </p>
        <p>
            {% set vars = {'action': action, 'lbl_title':lbl_title} %}
            {% include inc_title with vars %}
        </p>
        <p>
            {% set vars = {'action': action, 'lbl_description':lbl_description} %}
            {% include inc_description with vars %}
        </p>
        <p>
            {% set vars = {'action': action, 'lbl_progress':lbl_progress} %}
            {% include inc_progress with vars %}
        </p>
        <p>
            {% set vars = {'action': action, 'allPriorities':allPriorities, 'lbl_priority':lbl_priority} %}
            {% include inc_priority with vars %}
        </p>
        <p>
            {% set vars = {'action': action,'lbl_duedate':lbl_duedate,'lbl_duedate_dueon':lbl_duedate_dueon,'lbl_duedate_th_col1':lbl_duedate_th_col1,'lbl_duedate_th_col2':lbl_duedate_th_col2,'hours':hours,'mins':mins, 'aaddduedateroute': aaddduedateroute} %}
            {% include inc_duedate with vars %}
        </p>
        <p>
            {% set vars = {'action': action, 'lbl_commenttext':lbl_commenttext} %}
            {% include inc_commenttext with vars %}
        </p>
        <p id="btnTaskSubmit" class="center" >
            {% if updatenewactionroute is not empty %}
                <input type="submit" id="submit" name="save" value="{{ lbl_submit }}" >
            {% endif %}
        </p>
    </div>

    <input type="hidden" name="idparent" value="{{ action.idparent }}"  >
</form>

<div id="modalform"></div>
