<script>

    $(document).ready(function () {
    {% if budgetjournalroute is not empty %}
        {% for row in budget_rows %}
            {% if row.level == 'E' %}
                    document.getElementById('bf{{ row.idbb }}-{{ row.idproduct }}').addEventListener('click', function () {
                        booksform('{{ row.idbb }}', '{{ row.idproduct }}');
                    });
            {% endif %}
        {% endfor %}
    {% endif %}
        });

        async function booksform(idbb, idproduct) {
            if (idbb > 0) {
    {% if budgetjournalroute is not empty %}
                let apppath = "{{ budgetjournalroute }}";
                let replacedpath = apppath.replace("[id]", idbb);
                replacedpath = replacedpath.replace("[idproduct]", idproduct);

                let response = await fetch(replacedpath);
                $("#modalform").html(await response.text());
    {% endif %}
            }
        }

</script>

<div class="teFree" >
    <div class="tableRow">
        {% set index = 0 %}
        {% for header in budget_header %}
            <div class="tableHead txtLabel center {% if index > 1 %}tableColWidth{% endif %}" ><label>{{ header }}</label></div>
                    {% set index = index + 1 %}
                {% endfor %}
    </div>

    {% for row in budget_rows %}
        <div {% if row.level == 'E' %}id="bf{{ row.idbb }}-{{ row.idproduct }}"{% endif %} class="tableRow taskselect {{ row.style }}" >
            <div class="tableCell"><label>{{ row.acc }}</label></div>
            <div class="tableCell" style="min-width: 200px;"><label>{{ row.name }}</label></div>
                    {% for period in row.periods %}
                <div class="tableCell right">
                    {% if row.level == 'E' %}
                        <label class="{{ row.style }}{% if period < 0 %}negative{% endif %}">{{ period|number_format(1, '.', ',') }}</label>
                    {% else %}
                        {% if row.level != 'T' %}
                            <label class="{{ row.style }}{% if period < 0 %}negative{% endif %}">{{ period|number_format(1, '.', ',') }}</label>
                        {% endif %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>

<div id="modalform"></div>
