<style>
    .grid_currency {
        display: grid;
        grid-template-columns: 40px auto 40px auto 40px;
    }
    .coltitle1 {
        grid-column: 1 / span 2;
    }
    .coltitle2 {
        grid-column: 3 / span 2;
    }
    .coltitle3 {
        grid-column: 5;
    }
    .colgroup1 {
        grid-column: 1;
    }
    .colgroup2 {
        grid-column: 2 / span 3;
    }
    .colcurrency1 {
        grid-column: 3;
    }
    .colcurrency2 {
        grid-column: 4;
    }
    .colcurrency3 {
        grid-column: 5;
    }

</style>


    <div class="grid_currency">
        <div class="coltitle1 tHead txtLabel center"><label>{{ th_col1 }}</label></div>
        <div class="coltitle2 tHead txtLabel center"><label>{{ th_col2 }}</label></div>
        <div class="coltitle3 tHead txtLabel center"><label>{{ th_col3 }}</label></div>
    </div>

    {% for currency in currencies %}
        <div class="pnlBackWhite taskselect" >
            <div class="grid_currency {% if currency.deleted == 1 %}onHoldAction{% endif %}" >
                <div class="colgroup1 txtLabel"><label>{{ currency.idcurrency }}</label></div>
                <div class="colgroup2"><label>{{ currency.name }}</label></div>
            </div>
            {% if currency.convs is not empty %}
                <div class="grid_currency pnlBackMint" >
                    {% for conv in currency.convs %}
                        <div class="colcurrency1 txtLabel">
                            <label>{{ conv.idcurrency }}</label>
                        </div>
                        <div class="colcurrency2">
                            <label>{{ conv.name }}</label>
                        </div>
                        <div class="colcurrency3 center">
                            <label>{{ conv.value }}</label>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}        
        </div>
    {% endfor %}

    {% if currencies is empty %}
        {{ lbl_notfound }}
    {% endif %}
