<div class="tableFree" >
    <div class="tableRow">
        {% set index = 0 %}
        {% for header in budget_header %}
            {% if index <= 1 %}
                <div class="tableHead txtLabel center" ><label>{{ header }}</label></div>
                {% set index = index + 1 %}
            {% endif %}
        {% endfor %}
            
        <div class="tableHead txtLabel center tableColWidth" ><label>{{ th_col1 }}</label></div>
        <div class="tableHead txtLabel center tableColWidth" ><label>{{ th_col2 }}</label></div>
    </div>

    {% for row in budget_rows %}

        <div class="tableRow taskselect {{ row.style }}">
            <div class="tableCell"><label>{{ row.acc }}</label></div>
            <div class="tableCell"><label>{{ row.name }}</label></div>
            <div class="tableCell right">
                {% if row.level == 'E' %}
                    <label class="{{ row.style }}{% if row.periods[0] < 0 %}negative{% endif %}">{{ row.periods[0]|number_format(1, '.', ',') }}</label>
                {% else %}
                    {% if row.level != 'T' %}
                        <label class="{{ row.style }}{% if row.periods[0] < 0 %}negative{% endif %}">${{ row.periods[0]|number_format(1, '.', ',') }}</label>
                    {% endif %}
                {% endif %}
            </div>
            <div class="tableCell right">
                <label class="{{ row.style }}">{{ row.periods[1]|number_format(1, '.', ',') }}</label>
            </div>
        </div>
    {% endfor %}
</div>
