<script>

//    $(document).ready(function () {
//    });

</script>

<div class=margin>
    <form action="{{ updatefinancialroute }}" method="post"  style="width: 100%" >
        <div class="table">
            <div class="tableRow">
                <div class="tableCell txtLabel">{{ lbl_title }}</div>
                <div class="tableCellformText">
                    <input id="tax1" type="radio" name="taxincluded" value="1" {% if financial.taxincluded %}checked{% endif %} >
                    <label for="tax1">{{ lbl_yes }}</label>
                    <input id="tax0" type="radio" name="taxincluded" value="0" {% if not financial.taxincluded %}checked{% endif %} >
                    <label for="tax0">{{ lbl_no }}</label>
                </div>
            </div>
            <br>
            <div class="tableRow">
                <div class="tableCell txtLabel">{{ lbl_taxpercentage }}</div>
                <div class="tableCell">
                    <input type="number" placeholder="00.00" min="0" step="0.01" name="taxpercentage" value="{{ financial.taxpercentage|number_format(2, '.', ',') }}" style="width: 25%;"  >%
                </div>
            </div>
        </div>

        {% if updatefinancialroute is not empty %}
            <p style="text-align: center;">
                <input type="submit" id="submit" name="save" value="{{ lbl_submit }}" >
            </p>
        {% endif %}
    </form>
</div>

<div id="modalform"></div>
