<script>

    var modaluser = document.getElementById('user');

    $(document).ready(function () {
        document.getElementById('cmod').addEventListener('click', function () {
            getSpan();
        });
    });

</script>

<div id="user" class="modalUser">
    <div class="modalUser-content">
        <span id="cmod" class="modal-close" ></span>

        <div class="titleName">{{ lbl_title }}</div>
        
        <form id="addperiodform" action="{{ updatefiscalperiodroute }}" method="post" onsubmit="closeForm();" >
            <div class="table margin">
                <div class="tableRow">
                    <div class="tableCell txtLabel">{{ lbl_fiscalname }}</div>
                    <div class="tableCell formInputText">
                        <input id="name" type="text" name="fiscalname" value="{{ fiscalperiod.fiscalname }}" autofocus required >
                    </div>
                </div>
                <div class="tableRow">
                    <div class="tableCell txtLabel">{{ lbl_seq }}</div>
                    <div class="tableCell formInputText">
                        <input id="seq" type="number" name="seq" style="width: 20%;" value="{{ fiscalperiod.seq }}"  >
                    </div>
                </div>
                <div class="tableRow">
                    <div class="tableCell txtLabel">{{ lbl_closed }}</div>
                    <div class="tableCell formInputText">
                        <input type="checkbox" name="isclosed" {% if fiscalperiod.isclosed %} checked {% endif %} >
                    </div>
                </div>
            </div>

            {% if updatefiscalperiodroute is not empty %}
                <p id="submitpnl" class="center">
                    <input type="submit" id="submit" name="save" value="{{ lbl_submit }}" >
                    <input type="submit" class="linkBtnMenu taskselect" name="delete" value="{{ lbl_submitdelete }}" >
                </p>
            {% endif %}

            <input type="hidden" name="idfiscalperiod" value="{{ fiscalperiod.idfiscalperiod }}"  >

        </form>

    </div>
</div>
