<script>
    $(document).ready(function () {
        document.getElementById("cprodmod").addEventListener("click", function () {
            $('#editproduct').hide();            
        });
    {% if editproductroute is not empty %}
            document.getElementById("mpf0").addEventListener("click", function () {
                modalproductform(0);
            });
    {% endif %}
    {% for tag in tags %}
            document.getElementById("tag{{ tag.idtag }}").addEventListener("click", function () {
                searchtagproducts("{{ tag.idtag }}");
            });
    {% endfor %}

            document.getElementById("search").addEventListener("click", function () {
                searchProducts(0);
            });

            linkmenu();
            loadsharedform();
            loadlinkedform();
            loadlistproducts();
        });

    {% if editproductroute is not empty %}
        async function modalproductform(idproduct)
        {
            let apppath = '{{ editproductroute }}';
            let replacedpath = apppath.replace("[idproduct]", idproduct);

            let response = await fetch(replacedpath);
            $("#modalproductform").html(await response.text());
            $('#editproduct').show();            
        }
    {% endif %}

        async function linkmenu()
        {
            let apppath = '{{ linkmenuroute }}';

            let response = await fetch(apppath);
            $('#linkmenu').html(await response.text());
        }

        async function loadsharedform()
        {
            let apppath = '{{ shareddataroute }}';

            let response = await fetch(apppath);
            $('#shareddata').html(await response.text());
        }

        async function loadlinkedform()
        {
            let apppath = '{{ linkeddataroute }}';

            let response = await fetch(apppath);
            $('#linkeddata').html(await response.text());
        }

        function searchtagproducts(idtag) {
            tagselected = idtag;
            loadlistproducts();
        }
        
        var searchselected = '';
        var tagselected = '';
        var navpageselected = 0;
        async function loadlistproducts()
        {
            let apppath = '{{ listroute }}';
            let replacedpath = apppath.replace('[searchtext]', searchselected);
            replacedpath = replacedpath.replace('[navpage]', navpageselected);
            replacedpath = replacedpath.replace('[tag]', tagselected);

            let response = await fetch(replacedpath);
            $('#listproducts').html(await response.text());
            $("#loading").hide();
        }

        function callbackForm() {
//        window.location.reload(true);
            location.reload();
        }

        function searchProductKeyEnter() {
            if (event.keyCode == 13) {
                $("#loading").show();
                searchProducts(0);
            }
        }

        async function searchProducts(navtopage) {

            let searchtext = $("#searchtext").val();
            if (searchtext.length < 3 & searchtext.length > 0) {
                window.alert('{{ lbl_searchwarning }}');
                return false;
            }
            if (searchtext.length === 0) {
                searchtext = '';
            }

            searchselected = searchtext;
            navpageselected = navtopage;
            loadlistproducts();
        }

        function resetList() {
            searchselected = '';
            tagselected = '';
            $("#searchtext").val("");
            loadlistproducts();
        }

        // used by footpage control
        function pageSelected(navtopage) {
            navpageselected = navtopage;
            loadlistproducts();
        }

</script>

<div id="shareddata"></div>
<div id="linkeddata"></div>

{% if editproductroute is not empty %}
    <div id="mpf0" class="linkBtnMenu taskselect imgAdd" title="{{ lbl_titlenew }}"></div>
{% endif %}

<span id="linkmenu"></span>

<div class="floatRight">
    <span id="search" class="imgSearch" ></span> 
    <input class="txtLarge" style="width: 150px; border-width: 0px;" type="text" id="searchtext" onkeydown="searchProductKeyEnter();" >
</div>

<div id="loading" class="loading floatRight"></div>

<div class="right">
    {% for tag in tags %}
        <span id="tag{{ tag.idtag }}" class="taskselect linkTagMenu">{{ tag.idtag }}</span>
    {% endfor %}
</div>

<div id="listproducts" ></div>

<div id="editproduct" class="modalUser" hidden>
    <div class="modalUser-content">
        <span id="cprodmod" class="modal-close" ></span>        
        <div id="modalproductform"></div>
    </div>
</div>

<div id="modalform" ></div>
