<script>

//    $(document).ready(function () {
//        });

</script>

<div class="table pnlBackWhite">
    <div class="tableRow">
        <div class="tableHead txtLabel" ><label>{{ th_col1 }}</label></div>
        <div class="tableHead txtLabel center" ><label>{{ th_col2 }}</label></div>
        <div class="tableHead txtLabel center" ><label>{{ th_col3 }}</label></div>
        <div class="tableHead txtLabel center" ><label>{{ th_col4 }}</label></div>
    </div>

    {% for period in periods %}
        <div class="tableRow taskselect {% if period.deleted == 1 %}onHoldAction{% endif %}" >
            <div class="tableCell"><label>{{ period.name }}</label></div>
            <div class="tableCell center"><label>{% if period.seq != '0' %} {{ period.seq }} {% else %}-{% endif %}</label></div>
            <div class="tableCell center"><label>{% if period.ref1 != '0' %} {{ period.ref1 }} {% else %}-{% endif %}</label></div>
            <div class="tableCell center"><label>{% if period.ref2 != '0' %} {{ period.ref2 }} {% else %}-{% endif %}</label></div>
        </div>
    {% endfor %}

    {% if periods is empty %}
        {{ lbl_notfound }}
    {% endif %}
</div>
