<script>
    $(document).ready(function () {
    {% if addtocartroute is not empty %}
        {% for product in products %}
                document.getElementById("add{{ product.idproduct }}").addEventListener('click', function () {
                    addtocartform("{{ product.idproduct }}");
                });
        {% endfor %}
    {% endif %}
        });

    {% if addtocartroute is not empty %}
        async function addtocartform(idproduct) {
            let quantity = $("#iqty" + idproduct).val();
            quantity = parseInt(quantity);

            if (quantity > 0) {
                let apppath = '{{ addtocartroute }}';
                let replacedpath = apppath.replace('[id]', idproduct);
                replacedpath = replacedpath.replace('[qty]', quantity);
                replacedpath = replacedpath.replace('[idcart]', idcartonprogress); // var located at parent

                let response = await fetch(replacedpath);
                let jsobj = await response.json();
                if (jsobj["name"].lenght > 0) {
                    $('#addedtocart').append('<div style="color: red;">' + jsobj["msgerror"] + '</div>');
                } else {
                    idcartonprogress = jsobj["idcart"];
                    $('#addedtocart').append("<div>" + jsobj["lbl_title"] + " " + jsobj["code"] + " - " + jsobj["name"] + ", " + jsobj["lbl_qty"] + ": " + jsobj["qty"] + "</div>");
                }

                needrefresh = true;
            }
        }
    {% endif %}

</script>

<div class="table">
    <div class="tableRow">
        <div class="tableHead txtLabel center"></div>
        <div class="tableHead txtLabel center"><label>{{ th_col1 }}</label></div>
        <div class="tableHead txtLabel center"><label>{{ th_col2 }}</label></div>
        <div class="tableHead txtLabel center"></div>
    </div>
    {% if products is empty %}
        {{ lbl_notfound }}
    {% endif %}

    {% for product in products %}
        <div id="mpf{{ product.idproduct }}" class="tableRow pnlBackWhite" >
            <div class="tableCell" style="width: 70px;">
                <img src="{{ product.image }}" >
            </div>
            <div class="tableCell margin">                
                <div class="txtBlack txtLarge">{{ product.name }}</div>
                <div class="txtDark">{{ product.keycode }}</div>                

                {% if product.productdescription is not empty %}
                    <div class="txtLabel marginsmall">{{ product.productdescription|nl2br }}</div>
                {% endif %}
                {% if product.productmanifest is not empty %}
                    <div class="txtLabel marginsmall">{{ product.productmanifest|nl2br }}</div>
                {% endif %}
            </div>

            <div class="tableCell margin" style="width: 80px;">
                <label class="txtLabel">{{ product.idcurrency }}: </label>
                <label>{{ product.saleprice * product.rateconv }}</label>
            </div>
            <div class="tableCell center">
                <input class="txtLarge center" id="iqty{{ product.idproduct }}" type="number" placeholder="0" min="0" step="1" style="width: 75px;" >
                <div class="marginsmall">
                    <span id="add{{ product.idproduct }}" class="addtocart" >{{ lbl_addtocart }}</span>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
