<script>

    $(document).ready(function () {
    {% for gate in Gates %}
            document.getElementById("gate{{ gate.idgate }}").addEventListener("click", function () {
                selectGate('{{ gate.idgate }}');
            });
    {% endfor %}
    {% if searchproductsroute is not empty %}
            document.getElementById("cuprdlist").addEventListener("click", function () {
                hideProductList();
            });
        {% if carts is empty %}
                searchproductscartdetail(0);
        {% endif %}
    {% endif %}
    {% if updatecartgateroute is not empty %}
            document.getElementById("cugate").addEventListener("click", function () {
                hideConfirmUpdate();
            });
            document.getElementById("cancel").addEventListener("click", function () {
                hideConfirmUpdate();
            });
    {% endif %}
    {% for cart in carts %}
            document.getElementById("gethistory{{ cart.idcart }}").addEventListener("click", function () {
                historyform("{{ cart.idcart }}");
            });
        {% if searchproductsroute is not empty %}
                document.getElementById("newcartdetail{{ cart.idcart }}").addEventListener("click", function () {
                    searchproductscartdetail("{{ cart.idcart }}");
                });
        {% endif %}
        {% if updatecartgateroute is not empty %}
            {% for statusrow in Gates %}
                {% if statusrow.idgate != cart.idgate %}
                        document.getElementById("cartgate{{ cart.idcart }}-{{ statusrow.idgate }}").addEventListener("click", function () {
                    {% if statusrow.action == "close" %}
                                confirmChangeGate("{{ cart.idcart }}", "{{ statusrow.idgate }}", "{{ statusrow.name }}", "{{ lbl_warningopen }}");
                    {% else %}
                                confirmChangeGate("{{ cart.idcart }}", "{{ statusrow.idgate }}", "{{ statusrow.name }}", "");
                    {% endif %}
                            });
                {% endif %}
            {% endfor %}
        {% endif %}
        {% if editcartdetailroute is not empty %}
            {% for product in cart.items %}
                    document.getElementById("mmpf{{ product.idcartdetail }}").addEventListener("click", function () {
                        modalmktproductform({{ product.idcartdetail }});
                    });
            {% endfor %}
        {% endif %}
    {% endfor %}
        });

    {% if updatecartgateroute is not empty %}
        function hideConfirmUpdate() {
            $("#confirmtoupdategate").hide();
        }

        function closecartform() {
            $("#submit").hide();
        }

        function confirmChangeGate(idcart, idgate, labelname, warning)
        {
            $("#idcartpost").val(idcart);
            $("#idgatepost").val(idgate);
            $("#warning").html(warning);
            $("#submit").val("{{ lbl_statusgate }}" + labelname);
            $("#confirmtoupdategate").show();
        }
    {% endif %}

    {% if editcartdetailroute is not empty %}
        async function modalmktproductform(idcartdetail)
        {
            let apppath = "{{ editcartdetailroute }}";
            let replacedpath = apppath.replace('[id]', idcartdetail);

            let response = await fetch(replacedpath);
            $('#modalproductform').html(await response.text());
        }
    {% endif %}

    {% if searchproductsroute is not empty %}
        var needrefresh = false;
        var idcartonprogress = 0;

        function hideProductList() {
            if (needrefresh) {
                location.reload();
            }

            $("#productlist").hide();
        }

        async function searchproductscartdetail(idcart) {
            idcartonprogress = idcart;

            let response = await fetch("{{ searchproductsroute }}");
            $("#modalproductlistform").html(await response.text());
            $("#productlist").show();
        }
    {% endif %}

    {% if carthistoryroute is not empty %}
        async function historyform(idcart) {
            let apppath = "{{ carthistoryroute }}";
            let replacedpath = apppath.replace('[idcart]', idcart);

            let response = await fetch(replacedpath);
            $("#history" + idcart).html(await response.text());
            $("#history" + idcart).show();
        }
    {% endif %}

</script>

<style>
    #productlist .modalUser-content {
        width: 90%;
    }
</style>

<div>
    {% for gate in Gates %}
        <span id="gate{{ gate.idgate }}" class="{% if lastviewgate == gate.idgate %}linkBtnGateSelected{% else %}linkBtnGate taskselect{% endif %}" >
            {% if lastviewgate == gate.idgate %}
                <span class="{{ gate.img }}" ></span>
            {% endif %}
            {{ gate.name|capitalize }}
        </span>
    {% endfor %}
</div>

{% if carts is empty %}
    <div class="margin">{{ lbl_notfound }}</div>
{% endif %}

{% for cart in carts %}
    <div id="cart{{ cart.idcart }}" class="pnlBackWhite" >
        <!-- GATES -->
        <span class="floatRight">
            {% if updatecartgateroute is not empty %}
                <!-- MENU -->
                {% if searchproductsroute is not empty %}
                    <div id="newcartdetail{{ cart.idcart }}" class="linkBtnMenu taskselect imgAdd" title="{{ lbl_newcartdetail }}" ></div>
                {% endif %}

                {% for statusrow in Gates %}
                    {% if statusrow.idgate != cart.idgate %}
                        <span class="marginleft">
                            <span id="cartgate{{ cart.idcart }}-{{ statusrow.idgate }}" class="linkBtnMenu taskselect {{ statusrow.img }}" title="{{ statusrow.name|capitalize }}" ></span>
                        </span>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <span id="gethistory{{ cart.idcart }}" class="linkBtnMenu taskselect imgHistory" title="{{ lbl_viewhistory }}"></span>
        </span>

        <span class="left">
            <div class=" txtLabel">({{ cart.recordid }})  <b>{{ cart.description }}</b></div>
            <div class="txtLabel">{{ cart.createdon|date("j M Y g:ia") }}</div>
            {% if cart.idorder > 0 %}
                <div class="onFulfill">{{ lbl_order }}:  <b>{{ cart.idorder }},  {{ cart.lastmodifiedon|date("j M Y g:ia") }}</b></div>
            {% endif %}
        </span>

        <!-- cart history -->
        <div id="history{{ cart.idcart }}" hidden> </div>

        <div class="table">
            <div class="tableRow">
                <div class="tableHead txtLabel"></div>
                <div class="tableHead txtLabel center"></div>
                <div class="tableHead txtLabel center"><label>{{ th_col2 }}</label></div>
                <div class="tableHead txtLabel center"><label>{{ th_col3 }}</label></div>
                <div class="tableHead txtLabel center"><label>{{ th_col4 }}</label></div>
                <div class="tableHead"></div>
                <div class="tableHead txtLabel center"><label>{{ th_col5 }}</label></div>
            </div>
            {% if cart.items is empty %}
                <div class="margin">{{ lbl_notfound }}</div>
            {% endif %}

            {% if cart.items is not empty %}
                {% for product in cart.items %}
                    <div id="mmpf{{ product.idcartdetail }}" class="tableRow taskselect" >
                        <div class="tableCell txtLabel">{{ product.idcartdetail }}</div>
                        <div class="tableCell" style="width: 70px;"><img src="{{ product.img }}" ></div>
                        <div class="tableCell marginsmall">                
                            <div class="txtBlack txtLarge">{{ product.productname }}</div>
                            <div class="txtDark">{{ product.productcode }}</div>                

                            {% if product.productdescription is not empty %}
                                <div class="txtLabel">{{ product.productdescription|nl2br }}</div>
                            {% endif %}
                            {% if product.message is not empty %}
                                <div class="txtRed">{{ product.message }}</div>
                            {% endif %}
                            {% if product.productmanifest is not empty %}
                                <div class="txtLabel">{{ product.productmanifest|nl2br }}</div>
                            {% endif %}
                        </div>
                        <div class="tableCell marginsmall center"><label class="txtBlack">{{ product.orderquantity }}</label></div>
                        <div class="tableCell marginsmall center"><label>{{ product.saleprice * product.rateconv }}</label></div>
                        <div class="tableCell marginsmall center"><label class="txtLabel">{{ product.idcurrencyto }}</label></div>
                        <div class="tableCell marginsmall center"><label class="txtBlack">{{ product.saleprice * product.rateconv * product.orderquantity }}</label></div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endfor %}

<hr class="separatordark">

{% if updatecartgateroute is not empty %}
    <div id="confirmtoupdategate" hidden class="modalUser">
        <div class="modalUser-content">
            <span id="cugate" class="modal-close" ></span>

            <form action="{{ updatecartgateroute }}" method="post" onsubmit="closecartform();">
                <div class="margin"><label class="linkPlain" id="cancel" >{{ lbl_cancel }}</label></div>
                <div class="margin"><input type="submit" id="submit" name="save" ></div>
                <input type="hidden" name="idcart" id="idcartpost">
                <input type="hidden" name="idgate" id="idgatepost">                
            </form>
            <div class="margin">
                <span id="warning" class="txtRed"></span>
            </div>
        </div>
    </div>
{% endif %}

{% if searchproductsroute is not empty %}
    <div id="productlist" hidden class="modalUser">
        <div class="modalUser-content">
            <span id="cuprdlist" class="modal-close" ></span>

            <div id="addedtocart" class="txtRed margin"></div>

            <div id="modalproductlistform"></div>
        </div>
    </div>
{% endif %}

<div id="modalproductform"></div>
