<script>

    $(document).ready(function () {
    {% for tag in tags %}
            document.getElementById("tag{{ tag.idtag }}").addEventListener("click", function () {
                loadgroupedproducts("{{ tag.idtag }}");
            });
    {% endfor %}
        });

        async function loadgroupedproducts(idtag) {
            let apppath = '{{ listproductsroute }}';
            let replacedpath = apppath.replace("[tag]", idtag);
            replacedpath = replacedpath.replace('[search]', '');

            let response = await fetch(replacedpath);
            $('#viewgroupedproducts').html(await response.text());
        }

        function searchProductKeyEnter() {
            if (event.keyCode == 13) {
                searchProducts();
            }
        }

        async function searchProducts() {

            let searchtext = $("#searchtext").val();
            if (searchtext.length < 3) {
                window.alert('{{ lbl_searchwarning }}');
                return false;
            }

            let apppath = '{{ listproductsroute }}';
            let replacedpath = apppath.replace('[tag]', '');
            replacedpath = replacedpath.replace('[search]', searchtext);

            let response = await fetch(replacedpath);
            $('#viewgroupedproducts').html(await response.text());
        }

</script>

<div class="margin titleName">{{ lbl_title }}</div>
<div>
    <span class="imgSearch" ></span> 
    <input class="txtLarge" style="width: 150px; border-width: 0px;" type="text" id="searchtext" onkeydown="searchProductKeyEnter();" >
</div>

<div class="right">
    {% for tag in tags %}
        <span id="tag{{ tag.idtag }}" class="taskselect linkTagMenu">{{ tag.idtag }}</span>
    {% endfor %}
</div>

<hr class="separatordark">
<div id="viewgroupedproducts"></div>